
* {
    margin: 10px;
}

input[type="search"] {
    border-radius: 20px;
    border: 1px solid rgb(21, 160, 116);
    padding: 10px 0;
    text-align: center;
    color: rgb(21, 160, 116);
    width: 200px;
}

input[type="search"]::placeholder {
    color: rgb(21, 160, 116);
    font-size: medium;
    text-align: center;
}

.plus-button {
    display: block;
    border-radius: 50%;
    color: white;
    background-color: rgb(62, 208, 162);
    border: none;
    width: 36px;
    height: 36px;
    font-size: medium;
}

.create-button {
    margin: 10px;
    padding: 10px 0;
    color: #fff;
    background-color: blue;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
    width: 250px;
}
