input[type="search"] {
    display: block;
    border-radius: 20px;
    border: 1px solid rgb(63, 205, 184);
    margin: 10px;
    padding: 2px;
    text-align: center;
    color: rgb(21, 160, 116);
    width: 12%;
}

input[type="search"]::placeholder {
    color: rgb(21, 160, 116);
    font-size: x-small;
}

.plus-button{
    display: block;
    border-radius: 50%;
    margin: 10px;
    color: white;
    background-color: rgb(62, 208, 162);
    border: none;
    width: 20px;
    height: 20px;
}

.create-button{
    display: block;
    margin: 10px;
    color: #fff;
    background-color: blue;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
}